.login-prompt-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    font-family: Arial, sans-serif;
    text-align: center;
}

.login-prompt-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.login-prompt-message {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
}

.login-image-container {
    margin-bottom: 20px;
}

.login-image {
    width: 150px;
    height: auto;
}

.login-button {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
}

.login-button:hover {
    background-color: var(--secondary-color);
    color: #fff;
}

@media (max-width: 820px) {
    .login-prompt-title {
        font-size: 1.5rem;
    }

    .login-prompt-message {
        font-size: 0.9rem;
    }

    .login-image {
        width: 120px;
    }

    .login-button {
        padding: 8px 16px;
        font-size: 0.9rem;
    }
}

@media (max-width: 412px) {
    .login-prompt-title {
        font-size: 1.2rem;
    }

    .login-prompt-message {
        font-size: 0.8rem;
    }

    .login-image {
        width: 100px;
    }

    .login-button {
        padding: 6px 12px;
        font-size: 0.8rem;
    }
}
