.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #fff;
    margin-bottom: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-brand .logo {
    width: 50px;
    cursor: pointer;
}

.navbar-icons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.navbar-icons a {
    display: flex;
    align-items: center;
    color: #333;
    text-decoration: none;
    font-size: 14px;
}

.icon-label {
    margin-left: 5px;
}

.cart-link {
    position: relative;
}

.logout-button,
.login-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.login-button {
    background-color: var(--secondary-color);
}

.logout-button:hover {
    background-color: #e60000;
}

.logout-button:focus {
    outline: none;
}

@media (max-width: 412px) {
    .logout-button,
    .login-button {
        padding: 5px 11px;
        border-radius: 4px;
        font-size: 10px;
    }

    .navbar {
        padding: 8px 20px;

        margin-bottom: 20px;
    }

    .navbar-brand .logo {
        width: 35px;
    }

    .navbar-icons {
        gap: 13px;
    }

    .navbar-icons a {
        font-size: 12px;
    }
}
