.product-card {
    margin: 8px;
    overflow: hidden;
    width: 250px;
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
}
.product-card:hover {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-image img {
    width: 100%;
    height: auto;
}

.product-details {
    margin: 0rem 0.8rem;
    padding: 12px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-grow: 1;
}

.product-details h2 {
    font-size: 1.05em;
    margin: 0 0 2px;
}

.product-details p {
    margin: 4px 0;
    color: #555;
    font-size: 0.8em;
}
.product-details .price {
    font-weight: 900;
}
